img {
  position: fixed;
  right: 100;
  bottom: 100;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
  }

.login-box {
    display: flex;
    height: 30vh;
    width: 20vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #b0e0e6;
    min-width: 300px;
    min-height: 400px;
    z-index: 1;
    border-radius: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,100,121,0.538640885126023) 11%, rgba(0,212,255,1) 100%); 
    box-shadow: -6px -6px 6px 0px rgba(0,0,0,0.75);
  }

h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
.input-group {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    margin-bottom: 20px;
    
  }
  
label {
    margin-bottom: 10px;
  }
  
#username,#password {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #808080ec;
  }

#username:hover,#password:hover{
  background-color: #54f7f3;
}
  
button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #06BF06;
  }


  